body {
    background-color: #2c2f33;
    color: #f5f5f5;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.task-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-input {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 20px;
}

.submit-button {
    margin-bottom: 20px;
}

.task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-card {
    background-color: #3b3e42;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 300px;
}

.task-actions {
    display: flex;
    justify-content: space-between;
}

.edit-button,
.delete-button {
    color: #f5f5f5;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.edit-button {
    background-color: #87cefa;
}

.delete-button {
    background-color: #7289da;
    border: none;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #5bb4e5;
}

.delete-button:hover {
    background-color: #5b6dad;
}

footer {
    margin-top: 30px;
}
